# Forge / Gradle / Java
.gradle/
build/
run/
out/
*.class

# IDEs
.idea/
*.iml
*.iws
*.ipr
.vscode/
.settings/
bin/
.classpath
.project

# Do not ignore libs directory since we need the local dependencies
!libs/
!libs/*.jar

gradle-8.1.1-bin.zip
gradle-8.1.1/